* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #966943;
}

body {
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
iframe {
  display: none;
}
#preloader {
  background: white
    url(https://i.pinimg.com/originals/c5/7f/5a/c57f5af94487bb62711c5adf7926feb2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20% 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

nav {
  z-index: 199;
  background-color: #130d09f5;
  color: white;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* banner */
.banner {
  height: 70vh;
  color: white;
  background-size: cover;
  background-position: center;
  animation: changeBackground 20s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h4 {
  font-size: 60px;
}

@keyframes changeBackground {
  0% {
    background-image: url(https://images.pexels.com/photos/969381/pexels-photo-969381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  25% {
    background-image: url(https://images.pexels.com/photos/3448793/pexels-photo-3448793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  50% {
    background-image: url(https://images.pexels.com/photos/1044056/pexels-photo-1044056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  75% {
    background-image: url(https://images.pexels.com/photos/3299905/pexels-photo-3299905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  100% {
    background-image: url(https://images.pexels.com/photos/969381/pexels-photo-969381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
}

/* Card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 1500px;
}

.card {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 13px;
  margin-bottom: 50px;
  text-align: center;
  width: calc(25% - 30px);
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  width: 100%;
  height: 400px;
}

.card h2 {
  margin-top: 10px;
}
